.NavLink {
    color: #999999;
    display: block;
    text-align: center;
}

.NavLink:hover {
    text-decoration: none;
    margin-bottom: -2px;
    border-bottom: 2px solid #707070;
}

.NavLink.active {
    color: #ffffff
}